<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OCI Auto-scaling</title>
    <link rel="icon" href="/img/favicon.png">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/open-iconic-bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(groupInfo)}" class="card-deck mb-3 text-center">
        <div th:each="group:${groupInfo}" class="card mb-4 box-shadow">
            <div class="card-header">
                <span class="oi oi-aperture"></span><h4 th:text="${group.groupName}"
                                                        class="my-0 font-weight-normal"></h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Group Information
                </h1>
                <ul class="list-group mt-3 mb-4">
                    <li class="list-group-item d-flex justify-content-between align-items-center">Running Servers<span
                            th:text="${group.regularRunning+group.auxiliaryRunning}"
                            class="badge badge-primary badge-pill"></span></li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">Stopped Servers<span
                            th:text="${group.auxiliaryStopped+group.auxiliaryStaring+group.auxiliaryStopping}"
                            class="badge badge-primary badge-pill"></span></li>
                </ul>
                <button type="button" class="btn btn-lg  btn-success"
                        th:onclick="'scaleModal(\''+${group.groupName}+ '\',\''+${group.regularRunning}+'\',\''+${group.auxiliaryRunning}+'\',\''+${group.auxiliaryStaring}+'\',\''+${group.auxiliaryStopping}+'\',\''+${group.auxiliaryStopped}+'\');'">
                    Scale Group
                </button>
                <button type="button" class="btn btn-lg  btn-primary"
                        th:onclick="'createModal(\''+${group.groupName}+ '\');'">Create Auxiliary
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <span id="modalBody"></span> <input id="size" type="number" step="1"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="executeBtn" type="button" class="btn btn-primary">Execute</button>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
</div>
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>